:root {
    --default: #56C000;
    --default-hover: #347400;
    --input-height: 50px;
}

.bar, .bar_document {
    position: relative;
    margin: 2.5rem 0 1.5rem 0;
    border-top: 1px solid var(--default);
}

.bar::before, .bar_document::before {
    content: attr(data-label);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -53%);
    padding: 0 1rem;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
}

/* Generate styles for bars A to K */
[class^="bar"]::before {
    content: "(" attr(data-label) ") " attr(data-title);
}

/* Additional styling for the document bar */
.bar_document::before {
    content: "ATTACHMENT PAPERS";
}

/* ==========================================
   From 
   ======================================== */
.form-control {
    padding: 5px 10px !important;
    font-size: 16px !important;
    border-radius: 0 !important;
}

.form-label {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

#btn-submit {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}